@model System.Web.Mvc.HandleErrorInfo
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    ViewBag.Title = "Ministerio de Desarrollo Social - Gobierno de Chile";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Error</h1>
    </div>
</div>
<div class="row" style="min-height: 468px;">
    <div class="col-lg-12">
        <h3 class="title">Cuenta bloqueada</h3>
        <p>Esta cuenta se ha bloqueado, inténtelo de nuevo más tarde.</p>
    </div>
</div>