<?xml version="1.0" encoding="utf-8"?>
<constantes>
  <value>
    <clave>Ministerios</clave>
    <valor>20</valor>
  </value>
  <value>
    <clave>Servicios</clave>
    <valor>60</valor>
  </value>
  <value>
    <clave>TabDefault</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>TabDefaultHijo</clave>
    <valor>8</valor>
  </value>
  <value>
    <clave>Activo</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>Inactivo</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>NivelPadre</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>NivelHijo</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>PlataformaCargaBIPS</clave>
    <valor>251</valor>
  </value>
  <value>
    <clave>TiposFormularios</clave>
    <valor>300</valor>
  </value>
  <value>
    <clave>Nuevo</clave>
    <valor>301</valor>
  </value>
  <value>
    <clave>Reformulado</clave>
    <valor>302</valor>
  </value>
  <value>
    <clave>ProgramaSocial</clave>
    <valor>303</valor>
  </value>  
  <value>
    <clave>Texto</clave>
    <valor>401</valor>
  </value>
  <value>
    <clave>Combo</clave>
    <valor>402</valor>
  </value>
  <value>
    <clave>Seleccione</clave>
    <valor>403</valor>
  </value>
  <value>
    <clave>ComboNumerico</clave>
    <valor>404</valor>
  </value>
  <value>
    <clave>Tab</clave>
    <valor>405</valor>
  </value>
  <value>
    <clave>TextoGrande</clave>
    <valor>406</valor>
  </value>
  <value>
    <clave>Titulo</clave>
    <valor>407</valor>
  </value>
  <value>
    <clave>Checkbox</clave>
    <valor>409</valor>
  </value>
  <value>
    <clave>ComboDinamico</clave>
    <valor>410</valor>
  </value>
  <value>
    <clave>File</clave>
    <valor>411</valor>
  </value>
  <value>
    <clave>ComboVacio</clave>
    <valor>412</valor>
  </value>
  <value>
    <clave>Tabla</clave>
    <valor>413</valor>
  </value>
  <value>
    <clave>Vacio</clave>
    <valor>414</valor>
  </value>
  <value>
    <clave>Anos</clave>
    <valor>415</valor>
  </value>
  <value>
    <clave>Etiqueta</clave>
    <valor>416</valor>
  </value>
  <value>
    <clave>InputCheck</clave>
    <valor>417</valor>
  </value>
  <value>
    <clave>Numerico</clave>
    <valor>418</valor>
  </value>
  <value>
    <clave>NumericoSuma</clave>
    <valor>420</valor>
  </value>
  <value>
    <clave>Total</clave>
    <valor>421</valor>
  </value>  
  <value>
    <clave>TextoReadonly</clave>
    <valor>422</valor>
  </value>
  <value>
    <clave>EtiquetaEspejo</clave>
    <valor>423</valor>
  </value>
  <value>
    <clave>GrupoCheck</clave>
    <valor>424</valor>
  </value>
  <value>
    <clave>GrupoCheckPadre</clave>
    <valor>425</valor>
  </value>
  <value>
    <clave>GrupoCheckHijo</clave>
    <valor>426</valor>
  </value>
  <value>
    <clave>TotalValidacion</clave>
    <valor>427</valor>
  </value>
  <value>
    <clave>ComboDeshabilitado</clave>
    <valor>428</valor>
  </value>
  <value>
    <clave>CheckboxVacio</clave>
    <valor>429</valor>
  </value>
  <value>
    <clave>CheckboxInline</clave>
    <valor>433</valor>
  </value>
  <value>
    <clave>Titulo2</clave>
    <valor>434</valor>
  </value>
  <value>
    <clave>TabEvaluacion</clave>
    <valor>435</valor>
  </value>
  <value>
    <clave>LargoTexto</clave>
    <valor>601</valor>
  </value>
  <value>
    <clave>SeleccioneVacio</clave>
    <valor>603</valor>
  </value>
  <value>
    <clave>Dependencia</clave>
    <valor>602</valor>
  </value>
  <value>
    <clave>SeleccionePresupuesto</clave>
    <valor>604</valor>
  </value>
  <value>
    <clave>LargoNumerico</clave>
    <valor>606</valor>
  </value>
  <value>
    <clave>InputBloquedo</clave>
    <valor>661</valor>
  </value>
  <value>
    <clave>Change</clave>
    <valor>1101</valor>
  </value>
  <value>
    <clave>FuncionTab</clave>
    <valor>1102</valor>
  </value>
  <value>
    <clave>Keyup</clave>
    <valor>1103</valor>
  </value>
  <value>
    <clave>FuncionCheck</clave>
    <valor>1104</valor>
  </value>
  <value>
    <clave>ValidaSecundario</clave>
    <valor>1105</valor>
  </value>
  <value>
    <clave>OcultaPreguntas</clave>
    <valor>1106</valor>
  </value>
  <value>
    <clave>CheckEnable</clave>
    <valor>1107</valor>
  </value>
  <value>
    <clave>Sumas</clave>
    <valor>1108</valor>
  </value>
  <value>
    <clave>SumaTotal</clave>
    <valor>1109</valor>
  </value>
  <value>
    <clave>ChangeTab</clave>
    <valor>1110</valor>
  </value>
  <value>
    <clave>CambiarTabla</clave>
    <valor>1111</valor>
  </value>
  <value>
    <clave>CopiaTexto</clave>
    <valor>1112</valor>
  </value>
  <value>
    <clave>KeyupTab</clave>
    <valor>1114</valor>
  </value>
  <value>
    <clave>CopiaTextoInput</clave>
    <valor>1115</valor>
  </value>
  <value>
    <clave>OcultaConSi</clave>
    <valor>1116</valor>
  </value>
  <value>
    <clave>FuncionEtiquetaEspejo</clave>
    <valor>1117</valor>
  </value>
  <value>
    <clave>FuncionMuestraOcultaSegResp</clave>
    <valor>1118</valor>
  </value>
  <value>
    <clave>FuncionOcultaAnidado</clave>
    <valor>1119</valor>
  </value>
  <value>
    <clave>SumaTotalValidacion</clave>
    <valor>1120</valor>
  </value>  
  <value>
    <clave>ValidaDatosCss</clave>
    <valor>1121</valor>
  </value>
  <value>
    <clave>CopiaSumaTotal</clave>
    <valor>1122</valor>
  </value>
  <value>
    <clave>ChangeHijoPadre</clave>
    <valor>1123</valor>
  </value>
  <value>
    <clave>SumasTab</clave>
    <valor>1124</valor>
  </value>
  <value>
    <clave>MarcarRespuesta</clave>
    <valor>1125</valor>
  </value>
  <value>
    <clave>OcultaCheckbox</clave>
    <valor>1126</valor>
  </value>
  <value>
    <clave>OcultaPreguntasTab</clave>
    <valor>1127</valor>
  </value>
  <value>
    <clave>SumaTotalAnidada</clave>
    <valor>1128</valor>
  </value>
  <value>
    <clave>LlenaComboConOtro</clave>
    <valor>1129</valor>
  </value>
  <value>
    <clave>ValidaSeleccionUnica</clave>
    <valor>1130</valor>
  </value>
  <value>
    <clave>CalculoDivision</clave>
    <valor>1131</valor>
  </value>
  <value>
    <clave>ComparaTotales</clave>
    <valor>1132</valor>
  </value>
  <value>
    <clave>ComparaTotalDepend</clave>
    <valor>1133</valor>
  </value>
  <value>
    <clave>FiltraSelect</clave>
    <valor>1134</valor>
  </value>
  <value>
    <clave>LimpiaSelect</clave>
    <valor>1135</valor>
  </value>
  <value>
    <clave>FiltraComboPorValor</clave>
    <valor>1136</valor>
  </value>
  <value>
    <clave>HabilitaTexto</clave>
    <valor>1137</valor>
  </value>
  <value>
    <clave>ValidaComboXCombo</clave>
    <valor>1138</valor>
  </value>
  <value>
    <clave>ValidaErroresMayorQue</clave>
    <valor>1139</valor>
  </value>
  <value>
    <clave>ValidaErroresIgualQue</clave>
    <valor>1140</valor>
  </value>
  <value>
    <clave>ValidaErroresNoContestadas</clave>
    <valor>1141</valor>
  </value>
  <value>
    <clave>ValidaErroresNoContNivel2</clave>
    <valor>1142</valor>    
  </value>
  <value>
    <clave>ValidaErroresNoContNivel3</clave>
    <valor>1143</valor>
  </value>
  <value>
    <clave>CalculoEvaluacion</clave>
    <valor>1144</valor>
  </value>
  <value>
    <clave>CopiaTextoTabla</clave>
    <valor>1145</valor>
  </value>
  <value>
    <clave>CalculoEvaluacionEficacia</clave>
    <valor>1146</valor>
  </value>
  <value>
    <clave>SumaCamposVarios</clave>
    <valor>1147</valor>
  </value>
  <value>
    <clave>OcultaTabAsignaciones</clave>
    <valor>1148</valor>
  </value>
  <value>
    <clave>Divisiones</clave>
    <valor>1149</valor>
  </value>
  <value>
    <clave>OtrasOpciones</clave>
    <valor>1150</valor>
  </value>
  <value>
    <clave>OcultaPreguntasTabNormal</clave>
    <valor>1151</valor>
  </value>
  <value>
    <clave>SelectOtroSelect</clave>
    <valor>1152</valor>
  </value>
  <value>
    <clave>ReistroExcepcionesEval</clave>
    <valor>1153</valor>
  </value>
  <value>
    <clave>FormulariosPropios</clave>
    <valor>1201</valor>
  </value>
  <value>
    <clave>FormulariosGenerales</clave>
    <valor>1202</valor>
  </value>
  <value>
    <clave>EstadoOnline</clave>
    <valor>1251</valor>
  </value>
  <value>
    <clave>EstadoOffline</clave>
    <valor>1252</valor>
  </value>
  <value>
    <clave>AccesoFormLectura</clave>
    <valor>1301</valor>
  </value>
  <value>
    <clave>AccesoFormGuardado</clave>
    <valor>1302</valor>
  </value>
  <value>
    <clave>AccesoFormLecturaSinPerm</clave>
    <valor>1303</valor>
  </value>
  <value>
    <clave>UpdateLiberaTodosForm</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>UpdateLiberaUnForm</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>UpdateLiberaFormUsu</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>UpdateLiberaFormSignal</clave>
    <valor>4</valor>
  </value>
  <value>
    <clave>PermisoMantenedores</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>PermisoUsuarios</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>PermisoNuevosUsuarios</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>PermisoNuevosFormularios</clave>
    <valor>4</valor>
  </value>
  <value>
    <clave>PermisoGuardadoFormularios</clave>
    <valor>5</valor>
  </value>
  <value>
    <clave>PermisoGrupos</clave>
    <valor>6</valor>
  </value>
  <value>
    <clave>PermisoNuevosGrupos</clave>
    <valor>7</valor>
  </value>
  <value>
    <clave>PermisoAsignarFormGrupos</clave>
    <valor>8</valor>
  </value>
  <value>
    <clave>PermisoPermisos</clave>
    <valor>9</valor>
  </value>
  <value>
    <clave>PermisoAsignarGrupoUsers</clave>
    <valor>9</valor>
  </value>
  <value>
    <clave>PermisoAsignarPermisosUsers</clave>
    <valor>11</valor>
  </value>
  <value>
    <clave>PermisoAsignarUsersGroup</clave>
    <valor>12</valor>
  </value>
  <value>
    <clave>PermisoCrearOfertaSocial</clave>
    <valor>13</valor>
  </value>
  <value>
    <clave>PermisoNuevaOfertaSocial</clave>
    <valor>14</valor>
  </value>
  <value>
    <clave>PermisoEliminaOfertaSocial</clave>
    <valor>15</valor>
  </value>
  <value>
    <clave>PermisoNuevaObservacion</clave>
    <valor>16</valor>
  </value>
  <value>
    <clave>PermisoEnviarOfertaSocial</clave>
    <valor>17</valor>
  </value>
  <value>
    <clave>PermisoBiblioteca</clave>
    <valor>18</valor>
  </value>
  <value>
    <clave>PermisoDescargaBaseDatos</clave>
    <valor>19</valor>
  </value>
  <value>
    <clave>PermisoModuloExAnte</clave>
    <valor>20</valor>
  </value>
  <value>
    <clave>PermisoPanelExAnte</clave>
    <valor>21</valor>
  </value>
  <value>
    <clave>PermisoRepositorio</clave>
    <valor>25</valor>
  </value>
  <value>
    <clave>PreguntaTipoOferta</clave>
    <valor>7412</valor>
  </value>
  <value>
    <clave>PreguntaNombre</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>PreguntaMinisterio</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>PreguntaServicio</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>PreguntaVersionProgramas</clave>
    <valor>1302</valor>
  </value>
  <value>
    <clave>PreguntaEnvioEvaluacion</clave>
    <valor>1303</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioEnvioEvaluacion</clave>
    <valor>9730</valor>
  </value>
  <value>
    <clave>PreguntaCalificacionEval</clave>
    <valor>1304</valor>
  </value>
  <value>
    <clave>PreguntaFecUltimaModif</clave>
    <valor>6776</valor>
  </value>
  <value>
    <clave>PreguntaUsuUltimaModif</clave>
    <valor>6777</valor>
  </value>
  <value>
    <clave>ExcepPregVisible</clave>
    <valor>1351</valor>
  </value>
  <value>
    <clave>ExcepPregLectura</clave>
    <valor>1352</valor>
  </value>
  <value>
    <clave>ExcepPregLecturaAnulaFunc</clave>
    <valor>1353</valor>
  </value>
  <value>
    <clave>GuardadoExcep</clave>
    <valor>1354</valor>
  </value>
  <value>
    <clave>CarpetaArchivosSubidos</clave>
    <valor>~/Content/ArchivosSubidos/</valor>
  </value>
  <value>
    <clave>TipoInsertFormNormal</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>TipoInsertFormResp</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>TipoDeleteFormNormal</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>TipoDeleteFormResp</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>TipoDeleteFormIndiv</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>PerfilAdmin</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>GruposFormularios</clave>
    <valor>1200</valor>
  </value>
  <value>
    <clave>UpdateEstadoUser</clave>
    <valor>4</valor>
  </value>
  <value>
    <clave>LargoPass</clave>
    <valor>6</valor>
  </value>
  <value>
    <clave>AnoInicioNuevoForm</clave>
    <valor>2000</valor>
  </value>
  <value>
    <clave>AnoTMasNuevoForm</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>GrupoTodos</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>GrupoTodosGORE</clave>
    <valor>1923</valor>
  </value>
  <value>
    <clave>FormCreacionNuevo</clave>
    <valor>1401</valor>
  </value>
  <value>
    <clave>FormCreacionExistente</clave>
    <valor>1402</valor>
  </value>
  <value>
    <clave>FormCreacionRestrucc</clave>
    <valor>1403</valor>
  </value>
  <value>
    <clave>FuncionNormal</clave>
    <valor>1452</valor>
  </value>
  <value>
    <clave>FuncionObligatoria</clave>
    <valor>1452</valor>
  </value>
  <value>
    <clave>AnoCreacFormAdmin</clave>
    <valor>1501</valor>
  </value>
  <value>
    <clave>AnoCreacFormAnalistas</clave>
    <valor>1502</valor>
  </value>
  <value>
    <clave>CoordinadorExAnte</clave>
    <valor>1531</valor>
  </value>
  <value>
    <clave>EvaluadorExAnte</clave>
    <valor>1532</valor>
  </value>  
  <value>
    <clave>EvalSoloLectExAnte</clave>
    <valor>1533</valor>
  </value>
  <value>
    <clave>ProgramasEvaluar</clave>
    <valor>1550</valor>
  </value>
  <value>
    <clave>VersionInicialProgramas</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>mailSmtp</clave>
    <valor>smtp.mideplan.cl</valor>
  </value>
  <value>
    <clave>mailPuerto</clave>
    <valor>25</valor>
  </value>
  <value>
    <clave>listaMailEvalExAnte</clave>
    <valor>1600</valor>
  </value>
  <value>
    <clave>EtapaPublicadoBips</clave>
    <valor>325</valor>
  </value>
  <value>
    <clave>EtapaSolciEvalExAnte</clave>
    <valor>327</valor>
  </value>
  <value>
    <clave>Etapa0</clave>
    <valor>321</valor>
  </value>
  <value>
    <clave>Etapa1</clave>
    <valor>322</valor>
  </value>
  <value>
    <clave>EtapaCierreEvalExAnte</clave>
    <valor>328</valor>
  </value>
  <value>
    <clave>EtapaCierrePerfilGore</clave>
    <valor>29694</valor>
  </value>
  <value>
    <clave>EtapaEvaluacion</clave>
    <valor>329</valor>
  </value>
  <value>
    <clave>EtapaCierreConObs</clave>
    <valor>345</valor>
  </value>
  <value>
    <clave>EtapaCierreSinObs</clave>
    <valor>346</valor>
  </value>
  <value>
    <clave>EtapaPerfilEnConsulta</clave>
    <valor>29431</valor>
  </value>
  <value>
    <clave>EtapaPerfilCalificado</clave>
    <valor>29750</valor>
  </value>
  <value>
    <clave>EtapaProgramaCalificado</clave>
    <valor>30802</valor>
  </value>
  <value>
    <clave>PerfilEvaluadores</clave>
    <valor>1620</valor>
  </value>
  <value>
    <clave>PreguntaEvaluador1</clave>
    <valor>1305</valor>
  </value>
  <value>
    <clave>PreguntaEvaluador2</clave>
    <valor>1306</valor>
  </value>
  <value>
    <clave>Calificaciones</clave>
    <valor>1060</valor>
  </value>
  <value>
    <clave>PreguntaCalificacion</clave>
    <valor>458</valor>
  </value>
  <value>
    <clave>PreguntaCalificacionPerfilGore</clave>
    <valor>9462</valor>
  </value>
  <value>
    <clave>PreguntaCalificacionProgramaGore</clave>
    <valor>9750</valor>
  </value>
  <value>
    <clave>PreguntaComentSegpres</clave>
    <valor>459</valor>
  </value>
  <value>
    <clave>PreguntaComentGeneral</clave>
    <valor>460</valor>
  </value>
  <value>
    <clave>PreguntaAtingencia</clave>
    <valor>461</valor>
  </value>
  <value>
    <clave>PreguntaCoherencia</clave>
    <valor>462</valor>
  </value>
  <value>
    <clave>PreguntaConsistencia</clave>
    <valor>463</valor>
  </value>
  <value>
    <clave>PreguntaAntecProg</clave>
    <valor>774</valor>
  </value>
  <value>
    <clave>PreguntaDiagProg</clave>
    <valor>775</valor>
  </value>
  <value>
    <clave>PreguntaObjProgPobl</clave>
    <valor>776</valor>
  </value>
  <value>
    <clave>PreguntaEstragProg</clave>
    <valor>777</valor>
  </value>
  <value>
    <clave>PreguntaIndic</clave>
    <valor>778</valor>
  </value>
  <value>
    <clave>PreguntaGastos</clave>
    <valor>779</valor>
  </value>
  <value>
    <clave>PreguntaObservMonitoreo</clave>
    <valor>6946</valor>
  </value>
  <value>
    <clave>PreguntaCmbObservMonitoreo</clave>
    <valor>6947</valor>
  </value>
  <value>
    <clave>listaMailEnvioEval</clave>
    <valor>1650</valor>
  </value>
  <value>
    <clave>linkInformeEvalExAnte</clave>
    <valor>1681</valor>
  </value>
  <value>
    <clave>linkInformeDetalleExAnte</clave>
    <valor>1682</valor>
  </value>
  <value>
    <clave>PreguntaFechaEnvioInforEval</clave>
    <valor>1307</valor>
  </value>
  <value>
    <clave>PreguntaFechaRegEval1</clave>
    <valor>1308</valor>
  </value>
  <value>
    <clave>PreguntaFechaRegEval2</clave>
    <valor>1309</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioRegEva1</clave>
    <valor>9726</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioRegEva2</clave>
    <valor>9727</valor>
  </value>
  <value>
    <clave>PreguntaFechaRegOferta</clave>
    <valor>9728</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioRegOferta</clave>
    <valor>9729</valor>
  </value>
  <value>
    <clave>PreguntaFechaRegAdmisibilidad</clave>
    <valor>9731</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioRegAdmisibilidad</clave>
    <valor>9732</valor>
  </value>
  <value>
    <clave>PreguntaFechaIngresoExAnte</clave>
    <valor>9733</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioIngresoExAnte</clave>
    <valor>9734</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioCierreEval</clave>
    <valor>1310</valor>
  </value>
  <value>
    <clave>PreguntaFechaCierreEval</clave>
    <valor>1311</valor>
  </value>
  <value>
    <clave>PreguntaUsuarioCierreConObs</clave>
    <valor>7198</valor>
  </value>
  <value>
    <clave>PreguntaFechaCierreConObs</clave>
    <valor>7199</valor>
  </value>
  <value>
    <clave>RolAnalistaMonitoreo</clave>
    <valor>2</valor>
  </value>
  <value>
    <clave>RolAdministrador</clave>
    <valor>1</valor>
  </value>
  <value>
    <clave>PreguntaUserCreaIteracion</clave>
    <valor>1312</valor>
  </value>
  <value>
    <clave>PreguntaFechaCreaIteracion</clave>
    <valor>1313</valor>
  </value>
  <value>
    <clave>EstadoInactivoIteracion</clave>
    <valor>5</valor>
  </value>
  <value>
    <clave>EstadoInactivoTemporal</clave>
    <valor>4</valor>
  </value>
  <value>
    <clave>listaMailAsigEval</clave>
    <valor>1700</valor>
  </value>
  <value>
    <clave>EtapaOfertaCreacion</clave>
    <valor>7151</valor>
  </value>
  <value>
    <clave>EtapaOfertaEnvio</clave>
    <valor>7152</valor>
  </value>
  <value>
    <clave>PerfilJefeServicio</clave>
    <valor>7</valor>
  </value>
  <value>
    <clave>PerfilCoordinadorMinisterial</clave>
    <valor>8</valor>
  </value>
  <value>
    <clave>PerfilContraparteTecnica</clave>
    <valor>9</valor>
  </value>
  <value>
    <clave>EmailMonitoreo</clave>
    <valor>monitoreo@desarrollosocial.cl</valor>
  </value>
  <value>
    <clave>EmailSesDipres</clave>
    <valor>monitoreosesdipres@desarrollosocial.cl</valor>
  </value>
  <value>
    <clave>IdTextoEnvioEvaluar</clave>
    <valor>7350</valor>
  </value>
  <value>
    <clave>EnviaObservaciones</clave>
    <valor>7400</valor>
  </value>
  <value>
    <clave>InformeEvaluacion</clave>
    <valor>22400</valor>
  </value>
  <value>
    <clave>CorreosEvalSeguimiento</clave>
    <valor>7450</valor>
  </value>
  <value>
    <clave>FormulariosEvalSeguimiento</clave>
    <valor>7500</valor>
  </value>
  <value>
    <clave>RutasAccesoPDF</clave>
    <valor>7900</valor>
  </value>
  <value>
    <clave>AnosFichas</clave>
    <valor>7950</valor>
  </value>
  <value>
    <clave>PermisosEspeciales</clave>
    <valor>9850</valor>
  </value>
  <value>
    <clave>MenuSinRevision</clave>
    <valor>9950</valor>
  </value>
  <value>
    <clave>EnviaEvaluar</clave>
    <valor>10400</valor>
  </value>
  <value>
    <clave>FormulariosEvaluar</clave>
    <valor>10415</valor>
  </value>
  <value>
    <clave>TextoEvaluar</clave>
    <valor>10410</valor>
  </value>
  <value>
    <clave>MenuEvaluacion</clave>
    <valor>359</valor>
  </value>
  <value>
    <clave>FechaEtapaEvaluacion</clave>
    <valor>7119</valor>
  </value>
  <value>
    <clave>UsuarioEtapaEvaluacion</clave>
    <valor>7120</valor>
  </value>
  <value>
    <clave>PreguntasEvaluacion</clave>
    <valor>10430</valor>
  </value>
  <value>
    <clave>CategoriasDescargaBD</clave>
    <valor>11650</valor>
  </value>
  <value>
    <clave>ColumnasAntecedentesBD</clave>
    <valor>11690</valor>
  </value>
  <value>
    <clave>ColumnasDiagnosticoBD</clave>
    <valor>11730</valor>
  </value>
  <value>
    <clave>ColumnasEvalAnterioresBD</clave>
    <valor>11750</valor>
  </value>
  <value>
    <clave>ColumnasPobPotencialBD</clave>
    <valor>11800</valor>
  </value>
  <value>
    <clave>ColumnasPobObjetivoBD</clave>
    <valor>13400</valor>
  </value>
  <value>
    <clave>ColumnasPobBenefBD</clave>
    <valor>13420</valor>
  </value>
  <value>
    <clave>ColumnasEstrategiaBD</clave>
    <valor>13500</valor>
  </value>
  <value>
    <clave>ColumnasCovid19BD</clave>
    <valor>13630</valor>
  </value>
  <value>
    <clave>ColumnasEjecutoresBD</clave>
    <valor>13650</valor>
  </value>
  <value>
    <clave>ColumnasPresupuestoBD</clave>
    <valor>13680</valor>
  </value>
  <value>
    <clave>ColumnasRecursosEjecBD</clave>
    <valor>13760</valor>
  </value>
  <value>
    <clave>ColumnasGastoExtraBD</clave>
    <valor>18150</valor>
  </value>
  <value>
    <clave>ColumnasGastoFetBD</clave>
    <valor>18230</valor>
  </value>
  <value>
    <clave>ColumnasGastoCompBD</clave>
    <valor>18250</valor>
  </value>
  <value>
    <clave>ColumnasDetRegGastoCompBD</clave>
    <valor>18320</valor>
  </value>
  <value>
    <clave>ColumnasGastosAdminBD</clave>
    <valor>18360</valor>
  </value>
  <value>
    <clave>ColumnasResumRecursosEjecBD</clave>
    <valor>21000</valor>
  </value>
  <value>
    <clave>ColumnasIndicPropBD</clave>
    <valor>21030</valor>
  </value>
  <value>
    <clave>ColumnasIndicCompBD</clave>
    <valor>21090</valor>
  </value>
  <value>
    <clave>ColumnasDDHHBD</clave>
    <valor>21380</valor>
  </value>
  <value>
    <clave>ColumnasODSBD</clave>
    <valor>21400</valor>
  </value>
  <value>
    <clave>ColumnasPobMultiBD</clave>
    <valor>21600</valor>
  </value>
  <value>
    <clave>ColumnasDiseñoBD</clave>
    <valor>21650</valor>
  </value>
  <value>
    <clave>ColumnasPoblacionBD</clave>
    <valor>21670</valor>
  </value>
  <value>
    <clave>ColumnasObsEstrategiaBD</clave>
    <valor>21700</valor>
  </value>
  <value>
    <clave>ColumnasObsIndicadoresBD</clave>
    <valor>21720</valor>
  </value>
  <value>
    <clave>ColumnasObsPresupuestoBD</clave>
    <valor>21740</valor>
  </value>
  <value>
    <clave>ColumnasObsGeneralesBD</clave>
    <valor>21770</valor>
  </value>
  <value>
    <clave>ColumnasOfertaPublicaBD</clave>
    <valor>21800</valor>
  </value>
  <value>
    <clave>ColumnasCicloVidaBD</clave>
    <valor>21820</valor>
  </value>
  <value>
    <clave>ColumnasGruposDestiBD</clave>
    <valor>21840</valor>
  </value>
  <value>
    <clave>TiposFormulariosBD</clave>
    <valor>11680</valor>
  </value>
  <value>
    <clave>RestriccionMenu</clave>
    <valor>13290</valor>
  </value>
  <value>
    <clave>CheckboxUnico</clave>
    <valor>728</valor>
  </value>
  <value>
    <clave>NoGuardaModifi</clave>
    <valor>13370</valor>
  </value>
  <value>
    <clave>PermisoLiberaProg</clave>
    <valor>13380</valor>
  </value>
  <value>
    <clave>AnoDescargaBD</clave>
    <valor>13390</valor>
  </value>
  <value>
    <clave>RevisionExAnte</clave>
    <valor>23260</valor>
  </value>
  <value>
    <clave>TieneComentMonitoreo</clave>
    <valor>7518</valor>
  </value>
  <value>
    <clave>ComentMonitoreo</clave>
    <valor>7519</valor>
  </value>
  <value>
    <clave>TieneComentEstudio</clave>
    <valor>7520</valor>
  </value>
  <value>
    <clave>ComentEstudio</clave>
    <valor>7521</valor>
  </value>
  <value>
    <clave>InformePDF</clave>
    <valor>7522</valor>
  </value>
  <value>
    <clave>EmailExAnte</clave>
    <valor>evaluacionexante@desarrollosocial.gob.cl</valor>
  </value>
  <value>
    <clave>CoordMinisteriales</clave>
    <valor>7525</valor>
  </value>
  <value>
    <clave>ContraTecnicas</clave>
    <valor>7527</valor>
  </value>
  <value>
    <clave>NombreCoordMinist</clave>
    <valor>7524</valor>
  </value>
  <value>
    <clave>NombreContraTec</clave>
    <valor>7530</valor>
  </value>
  <value>
    <clave>OtrasCopiasInforExAnte</clave>
    <valor>23270</valor>
  </value>
  <value>
    <clave>OtrasCopiasComentExAnte</clave>
    <valor>23280</valor>
  </value>
  <value>
    <clave>PlantillasBaseMonitoreos</clave>
    <valor>23290</valor>
  </value>
  <value>
    <clave>RolesAsignaCamposAbiertos</clave>
    <valor>23300</valor>
  </value>
  <value>
    <clave>CorreosSectorialistas</clave>
    <valor>7525</valor>
  </value>
  <value>
    <clave>Sectorialista</clave>
    <valor>7895</valor>
  </value>
  <value>
    <clave>EmailSectorialistas</clave>
    <valor>7524</valor>
  </value>
  <value>
    <clave>CorreosContrapartes</clave>
    <valor>7527</valor>
  </value>
  <value>
    <clave>EmailContrapartes</clave>
    <valor>7530</valor>
  </value>
  <value>
    <clave>OtrosCorreos</clave>
    <valor>7783</valor>
  </value>
  <value>
    <clave>OtrosEmail</clave>
    <valor>7786</valor>
  </value>
  <value>
    <clave>PregAnidadasPadres</clave>
    <valor>23720</valor>
  </value>
  <value>
    <clave>PregAnidadasHijos</clave>
    <valor>23800</valor>
  </value>
  <value>
    <clave>PregAnidadasTotales</clave>
    <valor>24120</valor>
  </value>
  <value>
    <clave>PregUsuarioEnvEval</clave>
    <valor>7894</valor>
  </value>
  <value>
    <clave>InformesEvaluacion</clave>
    <valor>24760</valor>
  </value>
  <value>
    <clave>ParamSectorialistas</clave>
    <valor>24395</valor>
  </value>
  <value>
    <clave>PregFecEnvioInforEvalSect</clave>
    <valor>8216</valor>
  </value>
  <value>
    <clave>LinksInformesEval</clave>
    <valor>24765</valor>
  </value>
  <value>
    <clave>NombreArchivoPDFSect</clave>
    <valor>8217</valor>
  </value>
  <value>
    <clave>PregFecEnvioComentSect</clave>
    <valor>8218</valor>
  </value>
  <value>
    <clave>PermisoModuloEvaluacion</clave>
    <valor>4479</valor>
  </value>
  <value>
    <clave>PregFecEnvioComentJefSect1</clave>
    <valor>8240</valor>
  </value>
  <value>
    <clave>PregFecEnvioComentJefSect2</clave>
    <valor>8241</valor>
  </value>
  <value>
    <clave>PermisoVerInformes</clave>
    <valor>24770</valor>
  </value>
  <value>
    <clave>EmailCierreExAnte</clave>
    <valor>24785</valor>
  </value>
  <value>
    <clave>ValidacionesForm</clave>
    <valor>25520</valor>
  </value>
  <value>
    <clave>PerfilesEnviarRevision</clave>
    <valor>25500</valor>
  </value>
  <value>
    <clave>CorreoSectorialistas</clave>
    <valor>25720</valor>
  </value>
  <value>
    <clave>PerfilContraparte</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>PerfilContraparteGore</clave>
    <valor>3</valor>
  </value>
  <value>
    <clave>PermisoCargaRis</clave>
    <valor>22</valor>
  </value>
  <value>
    <clave>ProgramasRIS</clave>
    <valor>25940</valor>
  </value>
  <value>
    <clave>TipoMonitoreo2023</clave>
    <valor>347</valor>
  </value>
  <value>
    <clave>CarpetaBeneficiariosRIS</clave>
    <valor>~/Content/Beneficiarios/</valor>
  </value>
  <value>
    <clave>CorreoBIPSRIS</clave>
    <valor>asistencia.datos.bips.ris@desarrollosocial.gob.cl</valor>
  </value>
  <value>
    <clave>CorreosDAIS</clave>
    <valor>26300</valor>
  </value>
  <value>
    <clave>CorreosJefaturas</clave>
    <valor>26330</valor>
  </value>
  <value>
    <clave>EtapaProgramaEvaluado</clave>
    <valor>349</valor>
  </value>
  <value>
    <clave>CoordinadoresMinisteriales</clave>
    <valor>27600</valor>
  </value>
  <value>
    <clave>EtapaRevisionSect</clave>
    <valor>9319</valor>
  </value>
  <value>
    <clave>EtapaRevisionJefe</clave>
    <valor>9320</valor>
  </value>
  <value>
    <clave>FechaEnvioSectorialista</clave>
    <valor>9321</valor>
  </value>
  <value>
    <clave>EtapaCorrecDupla</clave>
    <valor>9322</valor>
  </value>
  <value>
    <clave>CorreosOcultos</clave>
    <valor>27620</valor>
  </value>
  <value>
    <clave>PermisoDashboard</clave>
    <valor>23</valor>
  </value>
  <value>
    <clave>TipoPerfilGore</clave>
    <valor>344</valor>
  </value>
  <value>
    <clave>TipoProgramaGore</clave>
    <valor>348</valor>
  </value>
  <value>
    <clave>ListadoGores</clave>
    <valor>24810</valor>
  </value>
  <value>
    <clave>CreaPerfilesGores</clave>
    <valor>24</valor>
  </value>
  <value>
    <clave>PreguntaNombreGores</clave>
    <valor>9323</valor>
  </value>
  <value>
    <clave>PreguntaGore</clave>
    <valor>8248</valor>
  </value>
  <value>
    <clave>PreguntaAdmisibilidadIngreso</clave>
    <valor>9722</valor>
  </value>
  <value>
    <clave>PreguntaAdmisibilidadMotivo</clave>
    <valor>9723</valor>
  </value>
  <value>
    <clave>PreguntaAdmisibilidadOtro</clave>
    <valor>9724</valor>
  </value>
  <value>
    <clave>PreguntaIngresoExAnte</clave>
    <valor>9725</valor>
  </value>
  <value>
    <clave>PermisoPerfilGore</clave>
    <valor>4482</valor>
  </value>
  <value>
    <clave>PermisoProgramaGore</clave>
    <valor>4483</valor>
  </value>
  <value>
    <clave>PreguntaFormuladoresProgramaGore</clave>
    <valor>9772</valor>
  </value>
  <value>
    <clave>EmailExAnteGore</clave>
    <valor>evaluacionexantegore@desarrollosocial.gob.cl</valor>
  </value>
  <value>
    <clave>EmailDipresGore</clave>
    <valor>nguzman@dipres.gob.cl,fsanchez@dipres.gob.cl</valor>
  </value>
  <value>
    <clave>EvaluadoresPerfilGore</clave>
    <valor>28000</valor>
  </value>
  <value>
    <clave>PerfilFormuladoresGore</clave>
    <valor>29751</valor>
  </value>
  <value>
    <clave>PermisoModEvalAdmisiPerfilGore</clave>
    <valor>4675</valor>
  </value>
  <value>
    <clave>PermisoModEvalPerfilGore</clave>
    <valor>4485</valor>
  </value>
  <value>
    <clave>PermisoModEvalProgramaGore1</clave>
    <valor>4676</valor>
  </value>
  <value>
    <clave>PermisoModEvalProgramaGore2</clave>
    <valor>4677</valor>
  </value>
  <value>
    <clave>CierrePreMonitoreo</clave>
    <valor>361</valor>
  </value>
  <value>
    <clave>PermisoNoComparable</clave>
    <valor>4490</valor>
  </value>
</constantes>